:root {
    --main-color: #4BBE4E;
    --main-color-hover: #4E9F3E;
    --main-font-size: 15px;
    --common-border: 1px #ddd solid;
    --common-border-radius: 5px;
}

body {
    font-family: sans-serif;
    font-size: var(--main-font-size);
    background-color: #fafafa;
}

.width {
    width: 75%;
    min-width: 768px;
    margin: 0px auto;
}

a {
    text-decoration: none;
}

/* start ----- header-nav ----- */

#header-nav {
    background-color: var(--main-color);
}

#header-nav a {
    color: #fff;
    padding: 13px 20px;
}

#header-nav a:hover {
    background-color: var(--main-color-hover);
}

#header-nav #header-nav-logo {
    padding: 0px 20px;
}

#header-nav #header-nav-logo:hover {
    background-color: transparent;
}

#header-nav img {
    height: 20px;
}

#header-nav-search-div {
    background-color: #fff;
}

#header-nav-magnifier-icon {
    padding: 0px 5px 0px 10px;
}

#header-nav-search-input {
    border: none;
    width: 200px;
    height: 40px;
    transition: .3s ease;
}

#header-nav-search-input:focus {
    outline: none;
    width: 220px;
}

/* end ----- header-nav ----- */

/* start ----- event-slides ----- */

#event-slides .carousel-indicators button {
    background-color: #888;
}

#event-slides .carousel-indicators .active {
    background-color: #fff;
}

#event-slides .carousel-inner {
    background-color: #ddd;
}

#event-slides .carousel-item {
    height: 360px;
    position: relative;
}

#event-slides .carousel-item img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.carousel-control-prev:hover {
    background: linear-gradient(to left, transparent, #aaa);
}

.carousel-control-next:hover {
    background: linear-gradient(to right, transparent, #aaa)
}

/* end ----- event-slides ----- */

/* start ----- categories ----- */

#categories {
    height: 140px;
}

#categories a {
    color: #000;
    border: var(--common-border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 15px 0px 10px;
    height: 100%;
}

#categories img {
    height: 80px;
    margin-bottom: 10px;
}

/* end ----- categories ----- */

/* start ----- annoucement ----- */

#annoucement {
    margin-top: 30px;
}

#annoucement a {
    color: var(--main-color);
}

#annoucement img {
    height: var(--main-font-size);
    padding-right: 10px;
    vertical-align: bottom;
}

/* end ----- annoucement ----- */

/* start ----- cards ----- */

.cards-wrap {
    margin-top: 100px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.cards-type-tags {
    margin-top: 40px;
}

.cards-type-tags a {
    color: #000;
    flex-grow: 1;
    text-align: center;
    padding: 12px 0px;
    border-bottom: var(--common-border);
}

.cards-type-tags .cards-type-tags-active {
    border: var(--common-border);
    border-bottom: none;
    box-shadow: 0 -4px var(--main-color);
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 20px;
}

.single-card {
    box-shadow: 0px 2px 6px 2px #ddd;
    border-radius: var(--common-border-radius);
    background-color: #fff;
}

.card-name {
    position: relative;
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
}

.card-name img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.card-name p {
    color: #fff;
    background: linear-gradient(to top, #515153, transparent);
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: end;
    transition: .3s ease-out;
}

.single-card:hover .card-name p {
    height: 90%;
    padding-bottom: 13%;
    transition: .3s ease-out;
}

.card-info {
    color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* start - ticket status tag - */

.card-ticket-status {
    border: var(--common-border);
    border-right: none;
    padding: 6px 0px 6px 10px;
    border-radius: var(--common-border-radius);
}

.selling .card-ticket-status {
    background: linear-gradient(to right, transparent 50%, var(--main-color) 50%) left;
    background-size: 210%;
    transition: .3s ease-out;
}

.sold-out .card-ticket-status,
.upcoming .card-ticket-status {
    background: linear-gradient(to right, transparent 50%, #111 50%) left;
    background-size: 210%;
    transition: .3s ease-out;
}

.single-card:hover .card-ticket-status {
    color: #fff;
    border-color: transparent;
    background-position: right;
    transition: .3s ease-out;
}

.card-ticket-status::after {
    content: '>';
    font-weight: 600;
    color: #fff;
    margin-left: 6px;
    padding: 6px 7px;
    border-radius: 0px 5px 5px 0px;
}

.selling .card-ticket-status::after {
    background-color: var(--main-color);
}

.sold-out .card-ticket-status::after,
.upcoming .card-ticket-status::after {
    background-color: #111;
}

/* end - ticket status tag - */

/* end ----- cards ----- */

/* start ----- promote cards ----- */

.h3-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
}

.h3-wrap::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    z-index: -1;
}

h3 {
    font-size: 26px;
    font-weight: 700;
}

.h3-wrap h3 {
    background-color: #fafafa;
    text-align: center;
    padding: 0px 20px;
    margin: 0px auto;
}

/* end ----- promote cards ----- */

/* start ----- more events button ----- */

#more-events-button {
    color: #000;
    background-color: #fff;
    font-weight: 600;
    display: inline-block;
    padding: 15px 100px;
    margin: 50px auto;
    border: var(--common-border);
    border-radius: var(--common-border-radius);
    box-shadow: 0px 2px 0px 0px #ddd;
    box-sizing: border-box;
    transition: .2s ease;
}

#more-events-button span {
    margin-left: 15px;
}

#more-events-button:hover {
    background-color: #f8f8f8;
    transition: .2s ease;
}

/* end ----- more events button ----- */

/* start ----- event place ----- */

#event-place-section {
    background-color: #474A44;
    padding: 50px 0px;
}

#event-place-section h3 {
    color: #999;
    padding-bottom: 30px;
}

#event-places {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#event-places a {
    margin: 0px 60px;
}

#event-places img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#footer-section {
    background-color: #323530;
    padding: 50px 0px;
}

footer,
footer a {
    color: #999;
}

footer p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
}

footer a {
    font-size: 14px;
}

#footer-links {
    border-bottom: var(--common-border);
    padding-bottom: 30px;
}

#footer-links li+li {
    margin-top: 15px;
}

.footer-icon-li span {
    margin-left: 3px;
}

.footer-icon-a {
    display: inline-block;
    margin-top: 10px;
}

.footer-icon-a+.footer-icon-a {
    margin-left: 5px;
}

footer i {
    color: #eee;
    font-size: 18px;
}