:root {
    --main-color: #3b7555;
    --main-color-hover: #1d5545;
    --main-font-size: 15px;
    --common-border: 1px #ddd solid;
    --common-border-radius: 5px;
}

body {
    font-family: sans-serif;
    font-size: var(--main-font-size);
    background-color: #fafafa;
}

a {
    text-decoration: none;
}

/* MOBILE */
@media (max-width:768px) {
    .width {
        width: 90%;
        margin: 0px auto;
    }

    /* start ----- MOBILE-header-nav ----- */

    #header-nav-logo-and-menu-button-wrap {
        margin: 15px 0px 10px;
    }

    #header-functions {
        display: none;
        padding: 5px 0px 10px;
    }

    #header-functions a {
        display: block;
        padding: 15px 0px;
    }

    #header-nav-search-div {
        margin: 15px 0px;
    }

    #nav-checkbox:checked~div #header-functions {
        display: block;
    }

    #nav-checkbox-label {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: var(--main-color);
        border: #fff 1px solid;
        border-radius: 5px;
        margin-bottom: 5px;
        /* for ::after */
        position: relative;
    }

    #nav-checkbox-label::after {
        content: '';
        display: inline-block;
        position: absolute;
        inset: 0;
        margin: auto;
        width: 80%;
        height: 2px;
        background-color: #fff;
        border-radius: 1px;
        box-shadow: 0px 6px 0 0 #fff, 0px -6px 0 0 #fff;
    }

    /* end ----- MOBILE-header-nav ----- */

    /* start ----- MOBILE-event-slides ----- */

    /* end ----- MOBILE-event-slides ----- */

    /* start ----- MOBILE-categories ----- */

    #categories {
        width: 100%;
        display: grid;
        grid-template-rows: auto 1fr 1fr auto;
        grid-template-columns: repeat(3, 1fr);
    }

    #categories a:first-of-type {
        grid-row: 1;
        grid-column: 1 / -1;
    }

    #categories a:nth-of-type(n+2):nth-of-type(-n+4) {
        grid-row: 2;
    }

    #categories a:nth-of-type(n+5):nth-of-type(-n+7) {
        grid-row: 3;
    }

    #categories a:last-of-type {
        grid-row: 4;
        grid-column: 1 / -1;
    }

    /* end ----- MOBILE-categories ----- */

    /* start ----- MOBILE-cards ----- */

    .cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* end ----- MOBILE-cards ----- */

    /* start ----- MOBILE-event-place ----- */

    #event-places {
        grid-template-columns: 1fr 1fr;
    }

    #event-places a {
        margin: 20px 30px;
    }

    /* end ----- MOBILE-event-place ----- */

    /* start ----- MOBILE-footer ----- */

    #footer-links ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        border-bottom: var(--common-border);
        padding-bottom: 30px;
    }

    #footer-links p {
        grid-column: 1/-1;
        margin-bottom: 10px;
    }

    #footer-links ul+ul {
        margin-top: 40px;
    }

    #footer-end {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    #footer-end div:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer-end div:first-of-type span+span {
        margin-top: 10px;
    }

    #footer-end>div+div {
        margin-top: 30px;
    }

    #footer-logo {
        height: 24px;
        margin-bottom: 30px;
    }

    /* end ----- MOBILE-footer ----- */
}

/* DESKTOP */
@media (min-width:769px) {

    @media (min-width:769px) and (max-width:1150px) {
        .width {
            width: 90%;
        }

        #user-account i{
            display: inline-block;
            margin-right: 5px;
        }

        #user-account span{
            display: none;
        }
    }

    @media (min-width:1151px) {
        .width {
            width: 75%;
        }

        #user-account i{
            display: none;
        }

        #user-account span{
            display: inline-block;
        }
    }

    .width {
        max-width: 1200px;
        margin: 0px auto;
    }

    /* start ----- DESKTOP-header-nav ----- */

    #header-nav-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    #header-functions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        padding-left: 120px;
    }

    #header-functions-left,
    #header-functions-right {
        display: flex;
        align-items: center;
    }

    #header-nav a {
        padding: 13px 20px;
    }

    #header-nav-search-div {
        margin-left: 10px;
    }

    #header-nav .dropdown-menu p{
        padding: 13px 15px 5px;
        font-weight: 700;
    }

    #header-nav .dropdown-menu img{
        height: 65px;
        width: 65px;
        border-radius: 50%;
        margin: 0 auto 10px auto;
    }

    #user-name{
        text-align: center;
    }

    /* end ----- DESKTOP-header-nav ----- */

    /* start ----- DESKTOP-categories ----- */

    #categories {
        height: 140px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #categories a:first-of-type,
    #categories a:last-of-type {
        padding: 0px 10px;
    }

    /* end ----- DESKTOP-categories ----- */

    /* start ----- DESKTOP-cards ----- */

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    /* end ----- DESKTOP-cards ----- */

    /* start ----- DESKTOP-event-place ----- */

    #event-places {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #event-places a {
        margin: 0px 60px;
    }

    /* end ----- DESKTOP-event-place ----- */

    /* start ----- DESKTOP-footer ----- */

    #footer-links {
        border-bottom: var(--common-border);
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
    }

    footer p {
        margin-bottom: 25px;
    }

    #footer-links li+li {
        margin-top: 15px;
    }

    #footer-end {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #footer-end div:first-of-type span+span {
        margin-left: 10px;
    }


    #footer-logo {
        height: 20px;
        margin-right: 15px;
    }

    /* end ----- DESKTOP-footer ----- */
}

/* start ----- header-nav ----- */

#header-nav {
    background-color: var(--main-color);
}

#header-nav a {
    color: #fff;
}

#header-nav a:hover {
    background-color: var(--main-color-hover);
}

h1 {
    display: inline-block;
    padding: 10px 0px;
}

#header-nav #header-nav-logo:hover {
    background-color: transparent;
}

#header-nav img {
    height: 20px;
}

#header-nav-search-div {
    background-color: #fff;
}

#header-nav-magnifier-icon {
    padding: 0px 5px 0px 10px;
}

#header-nav-search-input {
    border: none;
    width: 150px;
    height: 40px;
    transition: .3s ease;
}

#header-nav-search-input:focus {
    outline: none;
    width: 220px;
}

#header-nav .dropdown-item {
    width: 300px;
    color: #333;
}

#header-nav .dropdown-item:hover {
    background-color: #ddd;
}

#header-functions-right i{
    margin-right: 10px;
}

/* end ----- header-nav ----- */

/* start ----- event-slides ----- */

#event-slides .carousel-indicators button {
    background-color: #888;
}

#event-slides .carousel-indicators .active {
    background-color: #fff;
}

#event-slides .carousel-inner {
    background-color: #ddd;
}

#event-slides .carousel-item {
    height: 360px;
    position: relative;
}

#event-slides .carousel-item img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.carousel-control-prev:hover {
    background: linear-gradient(to left, transparent, #aaa);
}

.carousel-control-next:hover {
    background: linear-gradient(to right, transparent, #aaa)
}

/* end ----- event-slides ----- */

/* start ----- categories ----- */

#categories img {
    height: 80px;
    margin-bottom: 10px;
}

#categories a {
    color: #000;
    border: var(--common-border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 15px 0px 10px;
    height: 100%;
}

/* end ----- categories ----- */

/* start ----- annoucement ----- */

#annoucement {
    margin-top: 30px;
}

#annoucement a {
    color: var(--main-color);
}

#annoucement img {
    height: var(--main-font-size);
    padding-right: 10px;
    vertical-align: bottom;
}

/* end ----- annoucement ----- */

/* start ----- cards ----- */

.cards-wrap {
    margin-top: 100px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.cards-type-tags {
    margin-top: 40px;
}

.cards-type-tags a {
    color: #000;
    flex-grow: 1;
    text-align: center;
    padding: 12px 0px;
    border-bottom: var(--common-border);
}

.cards-type-tags .cards-type-tags-active {
    border: var(--common-border);
    border-bottom: none;
    box-shadow: 0 -4px var(--main-color);
}

.cards {
    margin-top: 20px;
}

.single-card {
    box-shadow: 0px 2px 6px 2px #ddd;
    border-radius: var(--common-border-radius);
    background-color: #fff;
}

.card-name {
    position: relative;
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
}

.card-name img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.card-name p {
    color: #fff;
    background: linear-gradient(to top, #515153, transparent);
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: end;
    transition: .3s ease-out;
}

.single-card:hover .card-name p {
    height: 90%;
    padding-bottom: 13%;
    transition: .3s ease-out;
}

.card-info {
    color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* start - ticket status tag - */

.card-ticket-status {
    border: var(--common-border);
    border-right: none;
    padding: 6px 0px 6px 10px;
    border-radius: var(--common-border-radius);
}

.selling .card-ticket-status {
    background: linear-gradient(to right, transparent 50%, var(--main-color) 50%) left;
    background-size: 210%;
    transition: .3s ease-out;
}

.sold-out .card-ticket-status,
.upcoming .card-ticket-status {
    background: linear-gradient(to right, transparent 50%, #111 50%) left;
    background-size: 210%;
    transition: .3s ease-out;
}

.single-card:hover .card-ticket-status {
    color: #fff;
    border-color: transparent;
    background-position: right;
    transition: .3s ease-out;
}

.card-ticket-status::after {
    content: '>';
    font-weight: 600;
    color: #fff;
    margin-left: 6px;
    padding: 6px 7px;
    border-radius: 0px 5px 5px 0px;
}

.selling .card-ticket-status::after {
    background-color: var(--main-color);
}

.sold-out .card-ticket-status::after,
.upcoming .card-ticket-status::after {
    background-color: #111;
}

/* end - ticket status tag - */

/* end ----- cards ----- */

/* start ----- promote cards ----- */

.h3-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
}

.h3-wrap::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    z-index: -1;
}

h3 {
    font-size: 26px;
    font-weight: 700;
}

.h3-wrap h3 {
    background-color: #fafafa;
    text-align: center;
    padding: 0px 20px;
    margin: 0px auto;
}

/* end ----- promote cards ----- */

/* start ----- more events button ----- */

#more-events-button {
    color: #000;
    background-color: #fff;
    font-weight: 600;
    display: inline-block;
    padding: 15px 100px;
    margin: 50px auto;
    border: var(--common-border);
    border-radius: var(--common-border-radius);
    box-shadow: 0px 2px 0px 0px #ddd;
    box-sizing: border-box;
    transition: .2s ease;
}

#more-events-button span {
    margin-left: 15px;
}

#more-events-button:hover {
    background-color: #f8f8f8;
    transition: .2s ease;
}

/* end ----- more events button ----- */

/* start ----- event place ----- */

#event-place-section {
    background-color: #474A44;
    padding: 50px 0px;
}

#event-place-section h3 {
    color: #999;
    padding-bottom: 30px;
}

#event-places img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* end ----- event place ----- */

/* start ----- footer ----- */

#footer-section {
    background-color: #323530;
    padding: 50px 0px;
}

footer,
footer a {
    color: #999;
}

footer p {
    font-size: 16px;
    font-weight: 600;
}

footer a {
    font-size: 14px;
}

.footer-icon-li span {
    margin-left: 3px;
}

.footer-icon-a {
    display: inline-block;
    margin-top: 10px;
}

.footer-icon-a+.footer-icon-a {
    margin-left: 5px;
}

#footer-links i {
    color: #eee;
    font-size: 18px;
}

#footer-end a {
    margin-left: 8px;
}

.footer-lang-active {
    border-bottom: 1px var(--main-color) solid;
    padding-bottom: 2px;
}

/* end ----- footer ----- */

/* start ----- RWD ----- */