body {
	font-family: 'Roboto', serif;
	font-size: 14px;
	color: #5d6678;
	line-height: 1.3;
	letter-spacing: 0.5px;
}

.width {
	width: 1200px;
	margin: 100px auto;
}

.navWrap {
	margin-top: 0px;
}

body>section:first-child {
	position: fixed;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 90px;
	background-color: #fff;
}

body>section:nth-child(2) {
	padding-top: 90px;
}

nav {
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
}

.navLogo {
	height: 54px;
}

nav a {
	font-size: 16px;
	text-decoration: none;
	color: #5d6678;
	font-weight: 300;
	margin: 0 16px;
}

.button {
	padding: 12px 22px 10px;
	border-radius: 5px;
	font-weight: 700;
}

.whiteToGreen {
	font-size: 14px;
	color: #5d6678;
	background-color: #fff;
	border: #ddd 1px solid;
	margin-left: 20px;
}

nav .whiteToGreen {
	margin-left: 40px;
}

.whiteToGreen:hover {
	transition: .3s ease;
	color: #fff;
	background-color: #1fde82;
}

.wrapLR {
	display: flex;
	gap: 100px;
	align-items: center;
}

section>.wrapLR:nth-child(even) {
	flex-direction: row-reverse;
}

h1,
h2 {
	font-size: 58px;
	color: #1d273b;
	font-weight: 300;
	margin-bottom: 30px;
}

p {
	margin-bottom: 50px;
	font-weight: 300;
	line-height: 1.7;
}

.glowGreenToGray {
	color: #fff;
	background-color: #1fde82;
	border: none;
	box-shadow: 0px 5px 30px 0px #93ebc0;
}

.glowGreenToGray:hover {
	transition: .3s ease;
	background-color: #4d5577;
	box-shadow: none;
}

.watchVideo {
	vertical-align: middle;
	margin-left: 25px;
}

.wrapLRText {
	display: flex;
	flex-direction: column;
	width: 450px;
}

.wrapLRImg {
	flex-grow: 1;
	text-align: center;
}

h2 {
	font-size: 42px;
}

.sixCards {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr 1fr;
	gap: 20px;
}

.oneOfSixCards {
	padding: 48px 40px 40px;
	border-radius: 15px;
	box-shadow: 0px 5px 30px 0px #eee;
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-top: 20px;
}

.oneOfSixCards img {
	object-fit: none;
	display: inline-block;
	border-radius: 50%;
	box-shadow: 0px 5px 30px 0px #93ebc0;
	margin-bottom: 40px;
}

h3 {
	font-size: 22px;
	margin-bottom: 20px;
}

.oneOfSixCards a {
	display: flex;
	text-decoration: none;
	color: inherit;
	font-weight: 500;
	flex-grow: 1;
	align-items: end;
}

.oneOfSixCards a:hover {
	color: #1fde82;
	transition: .3s ease;
}

.blueSection {
	color: #fff;
	background-color: #2570ff;
	width: 100%;
}

.blueSection h2 {
	color: #fff;
}

.blueSectionFourCards {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	gap: 20px;
	margin: 80px 0px;
}

.blueSectionFourCards p {
	margin-bottom: 15px;
}

.blueSectionOneOfFourCards {
	background-color: #3f81ff;
	width: 280px;
	padding: 30px;
	box-sizing: border-box;
	border-radius: 15px;
}

.blueSectionOneOfFourCards p:first-child {
	font-size: 58px;
	font-weight: 500;
}

.blueSectionText {
	width: 380px;
}

.blueToGreen {
	color: #fff;
	background-color: transparent;
	border: #fff 1px solid;
}

.blueToGreen:hover{
	background-color: #1fde82;
	border: transparent 1px solid;
	transition: .3s ease;
}