body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	color: #666;
}

.width {
	max-width: 1400px;
	display: flex;
	margin: auto;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

h1 {
	font-size: 36px;
	text-align: center;
	margin: 50px 0px 60px;
	font-weight: 700;
}

.text{
	padding: 0px 10px;
}

h1,
h2,
h3 {
	color: #333
}

h2 {
	font-size: 22px;
	font-weight: 700;
	margin: 20px 0px 30px;
}

h3 {
	font-size: 16px;
	margin: 20px 0px 10px;
	font-weight: 700;
}


.card {
	width: 320px;
	border: #bbb 1px solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.imgs{
	display: flex;
	align-items: center;
	flex-grow: 1;
}

img {
	width: 100%;
	/* border-radius: 10px; */
}

a {
	text-decoration: none;
	height: 40px;
	line-height: 39px;
	border-radius: 5px;
	color: #fff;
	background-color: #70DB37;
	box-shadow: 0px 3px #51B919;
	transform: translateY(-5px);
	text-align: center;
	display: block;
	margin-top: 30px;
	transition: .3s ease;
}

a:hover {
	background-color: #8EEE5B;
	box-shadow: none;
	transform: none;
	transition: .3s ease;
}