:root {
	--date-index-width: 200px;
	--date-index-margin: 2px;
	--total-width: calc(var(--date-index-width)*7 + var(--date-index-margin)*14)
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
}

section {
	display: flex;
	/* min-height: 100vh; */
}

.width {
	min-width: var(--total-width);
	width: var(--total-width);
	margin: 15px auto;
}

#control-btn-and-year-month button {
	border: 1px #ddd solid;
}

#p-year-month {
	letter-spacing: 2px;
	font-size: 26px;
	font-weight: 700;
	margin: 0;
}

#week-name div,
#date-index * {
	width: var(--date-index-width);
	text-align: center;
	margin: var(--date-index-margin);
	border-radius: 3px;
}

#week-name div {
	padding: 3px 0px;
	border: 1px #eee solid;
}

#week-name :first-child,
#week-name :last-child {
	background-color: #8BC881;
	border: none;
}

.day-block {
	height: 120px;
	box-sizing: border-box;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.this-month-block {
	background-color: #f8f8f8;
	border: 1px #eee solid;
}

.not-this-month-block {
	color: #eee;
	background-color: #ccc;
}

.day-block:hover {
	cursor: pointer;
}

.day-block div{
	position: sticky;
	top: 0;
	padding: 3px 0px;
}

.this-month-block div {
	background-color: #f8f8f8;
}

.not-this-month-block div {
	background-color: #ccc;
}

.day-block p{
	display: flex;
	max-width: 80%;
	font-size: 16px;
	padding: 1px 1px;
}

.this-month-block p {
	background-color: #8BC881;
}

.not-this-month-block p {
	background-color: #aaa;
}

.day-block p .todo-time{
	height: 25px;
	flex-shrink: 2;
	padding: 0px 6px;
}

.this-month-block p .todo-time {
	color: #fff;
	background-color: #296c1f;
}

.not-this-month-block p .todo-time{
	color: #fff;
	background-color: #888;
}

.day-block p .todo-content {
	padding: 0px 6px;
}

.day-block::-webkit-scrollbar {
	width: 0;
}

.modal-footer button {
	color: #fff;
	background-color: #892828;
	border: none;
}

.modal-footer :first-child {
	color: #fff;
	background-color: #88888a;
	border: none;
}

.modal-footer :last-child {
	color: #fff;
	background-color: #8BC881;
	border: none;
}