<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Calendar</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="calendarStyle.css">
</head>

<body>
	<section id="app">
		<div class="width">
			<div id="control-btn-and-year-month" class="btn-group d-flex justify-content-between mt-3 mb-5">
				<button @click="prevMonth" class="btn w-25">↼ PREVIOUS</button>
				<p id="p-year-month" class="w-100 d-flex justify-content-center align-content-center">{{yearAndMonth}}
				</p>
				<button @click="nextMonth" class="btn w-25">NEXT ⇀</button>
			</div>
			<div id="day-form">
				<div id="week-name" class="d-flex flex-wrap">
					<div>Sun</div>
					<div>Mon</div>
					<div>Tue</div>
					<div>Wed</div>
					<div>Thu</div>
					<div>Fri</div>
					<div>Sat</div>
				</div>
				<div id="date-index" class="d-flex flex-wrap">
					<day-block v-for="day in days" :key="day.id" class = "day-block" :class="day.class" @click="openModalForAddingTodo(day.id)" >
						<!-- data-bs-target="#exampleModal" -->
						<!-- data-bs-toggle="modal" -->
						<template v-slot:date>
							<div>{{day.dayDate}}</div>
						</template>
						<template v-slot:todos>
							<p v-for="todo in day.todos" @click="openModalForUpdatingTodo($event, todo, day)">
								<span class="todo-time">{{todo.time}}</span>
								<span class="todo-content">{{todo.content}}</span>
							</p>
						</template>
					</day-block>
				</div>
			</div>
		</div>

		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form>
							<div class="mb-3">
								<label for="title-text" class="col-form-label">Title</label>
								<input type="text" class="form-control" id="title-text" v-model="todoInModal.content">
							</div>
							<div class="mb-3">
								<label for="time-picker" class="col-form-label">Time</label>
								<input type="time" class="form-control" id="time-picker" v-model="todoInModal.time">
							</div>
							<!-- <div class="mb-3">
								<label for="content-text" class="col-form-label">Content</label>
								<textarea class="form-control" id="content-text"></textarea>
							</div> -->
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn" data-bs-dismiss="modal">Close</button>
						<button v-if="isAddingTodo" type="button" class="btn" id="send-message" @click="addTodo" data-bs-dismiss="modal">Add Todo</button>
						<button v-if="!isAddingTodo" type="button" class="btn" id="send-message" @click="deleteTodo" data-bs-dismiss="modal">Delete Todo</button>
						<button v-if="!isAddingTodo" type="button" class="btn" id="send-message" @click="updateTodo" data-bs-dismiss="modal">Update Todo</button>
					</div>
				</div>
			</div>
		</div>

	</section>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>

	<script type="text/x-template" id="day-block-template">
		<div>
			<slot name="date"></slot>
			<slot name="todos"></slot>
		</div>
	</script>

	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="calendarScript.js"></script>
</body>

</html>