body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.width {
	width: 960px;
}

#add-todo-btn {
	color: #fff;
	background-color: #78BED1
}

.todo-wrap {
	border: 1px #ccc solid;
	border-radius: 4px;
}

.todo-item {
	background-color: #eee;
	border: 1px #ccc solid;
	border-radius: 3px;
	cursor: pointer;
}

.todo-checkbox {
	cursor: pointer;
}

.edit-input{
	border-radius: 0px 3px 3px 0px;
}

.todo-name {
	border:none;
	border-left: 1px #ccc solid;
	cursor: pointer;
}

.edit-btn {
	width: 80px;
	font-weight: 600;
}

.delete-btn {
	width: 80px;
	font-weight: 600;
}