body {
	font-family: YakuHanJP, sans-serif, serif;
	line-height: 1.4;
}

section{
	padding: 96px 0px;
}

.sectionTitle{
	font: freight-neo-pro;
	font-size: 24px;
	padding: 10px 0px 64px;
	border-top: 2px black solid;
}

.wrapTitle{
	display: flex;
	border-top: 1px lightgray solid;
	padding: 20px 0px 30px;
	justify-content: space-between;
	align-items: end;
}

h2, h3, p{
	color:#222;
}

h2{
	display: inline-block;
}

.more{
	display: inline-block;
	font-size: 13px;
	color: #F65936;
	font-weight: 600;
	/* vertical-align: middle; */
}

.more::after{
	content: '➜';
	display: inline-block;
	width: 18px;
	height: 14px;
	font-size: 8px;
	text-align: center;
	vertical-align: bottom;
	border: 0.5px solid #f65936;
	border-radius: 50%;
	padding-top: 4px;
	margin: 0px 0px 0px 5px;
}

h3{
	font-weight: 600;
}

h2 .jp{
	font-size: 26px;
	font-weight: 900;
}

h2 .en{
	font-size: 14px;
	padding-left: 24px;
}

.width{
	max-width: 1200px;
	min-width: 960px;
	margin: auto;
}

.wrap{
	display: flex;
	justify-content: space-between;
	padding: 0px 0px 80px;
}

.space{
	width: 40px;
}

.wrap:nth-child(even){
	flex-direction: row-reverse;
}

.singleCard{
	flex: 1;
}

.singleCard > p:first-child,
.oneOfFourCards> p:first-child{
	font-size: 12px;
	line-height: 20px;
}

.icon > p:first-child::before,
.icon > p:first-child::before{
	content: '';
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 0.5px solid black;
	border-radius: 50%;
	margin: 0px 5px -2px 0px;
}


img {
	display: block;
	width: 100%;
	border-radius: 15px;
}

.singleText{
	display: flex;
	margin: 20px 0px;
}

.singleText h3{
	font-size: 24px;
	width: 140%;
	margin-right: 30px;
}

.singleText>div{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.singleText p:first-child{
	font-size: 13px;
}

.datetime{
	font-size: 12px;
}


.fourCards{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	flex: 1;
}

.oneOfFourCards{
	display: flex;
	flex-direction: column;
	/* border: 1px blue solid; */

}

.oneOfFourCards>div{
	/* border: 1px red solid; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}

.oneOfFourCards h3{
	font-size: 16px;
	margin: 18px 0px 10px;
}
